* {
  margin: 0;
  padding: 0;
}

.btnOpcoes3 {
  padding: 0.625rem;
  width: 8.125rem;
  margin-left: 0.625rem;
  background-color: #00095a;
  border: none;
  color: #ffffff;
  border-radius: 0.438rem;
  cursor: pointer;
  position: absolute;
  top: 37%;
  left: 62.5%;
  transition: 0.5s;
}

.btnOpcoes3:hover {
  transform: scale(0.95);
}

.container {
  margin: 12.5rem auto;
  width: 50rem;
  min-height: 31.25rem;
  display: flex;
  flex-direction: column;
  background-color: #f5f1f1;
  border-radius: 0.625rem;
  padding-bottom: 3.125rem;
}

.container h3 {
  text-align: center;
  margin: 1.875rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.563rem;
}

.container label {
  margin: 1.25rem 0 0.313rem 1.375rem;
  font-family: "Open Sans", sans-serif;
}

.container input {
  width: 45.625rem;
  margin: 0 auto;
  border-radius: 0.625rem;
  padding: 0.938rem;
  border: 0.063rem solid #ffffff;
  font-family: "Open Sans", sans-serif;
}

.container textarea {
  width: 45.625rem;
  margin: 0 auto;
  border-radius: 0.625rem;
  padding: 0.938rem;
  border: 0.063rem solid #ffffff;
  font-family: "Open Sans", sans-serif;
}

.btn2 {
  width: 47.5rem;
  align-self: center;
  margin-top: 1.875rem;
  padding: 1.25rem;
  border-radius: 0.625rem;
  border: none;
  background-color: #00095a;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}