@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

.divWallpaper2 {
  width: 90rem;
  height: 37.5rem;
  margin: 3.125rem auto 1.875rem auto;
}

#wpArtigo {
  width: 90rem;
  height: 37.5rem;
  margin: 0 auto;
  border-radius: 0.625rem;
}

.artigo {
  width: 62.5rem;
  min-height: 75rem;
  font-family: "Open Sans", sans-serif;
  margin: 1.875rem auto 3.75rem auto;
  text-align: justify;
  color: #000000;
}

.artigo h1 {
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
}

.artigo h3 {
  margin-bottom: 1.875rem;
}

.divBotoes {
  width: 62.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btnOpcoes {
  padding: 0.625rem;
  width: 8.125rem;
  margin-left: 0.625rem;
  background-color: #00095a;
  border: none;
  color: #ffffff;
  border-radius: 0.438rem;
  cursor: pointer;
  transition: 0.5s;
}

.btnOpcoes:hover {
  transform: scale(1.05);
}

.divSobre {
  width: 100vw;
  height: 25rem;
  background-color: #000000;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.divSobre img {
  width: 12.5rem;
  margin-left: 3.125rem;
  transition: 0.5s;
}

.divSobre img:hover {
  transform: rotate(15deg);
}

.divSobre p {
  width: 31.25rem;
  text-align: justify;
  margin-right: 6.25rem;
}

@media(min-width: 1100px) and (max-width: 1440px) {
  .divWallpaper2 {
    width: 100vw;
    height: auto;
    margin-top: 0;
  }

  #wpArtigo {
    width: 100vw;
    height: auto;
    border-radius: 0;
  }
}

@media(min-width: 850px) and (max-width: 1099px) {
  .divWallpaper2 {
    width: 100vw;
    height: auto;
    margin-top: 0;
  }

  #wpArtigo {
    width: 100vw;
    height: auto;
    border-radius: 0;
  }

  .artigo {
    width: 48.125rem;
    height: auto;
  }

  .divBotoes {
    width: 48.125rem;
  }
}

@media(min-width: 650px) and (max-width: 849px) {
  .divWallpaper2 {
    width: 100vw;
    height: auto;
    margin-top: 0;
  }

  #wpArtigo {
    width: 100vw;
    height: auto;
    border-radius: 0;
  }

  .artigo {
    width: 37.5rem;
    height: auto;
  }

  .divBotoes {
    width: 37.5rem;
  }

  .artigo h1 {
    font-size: 1.875rem;
  }

  .artigo h3 {
    font-size: 1.563rem;
  }

}

@media(min-width: 400px) and (max-width: 649px) {
  .divWallpaper2 {
    width: 100vw;
    height: auto;
    margin-top: 0;
  }

  #wpArtigo {
    width: 100vw;
    height: auto;
    border-radius: 0;
  }

  .artigo {
    width: 90vw;
    height: auto;
  }

  .divBotoes {
    width: 90vw;
  }

  .btnOpcoes {
    width: 6.25rem;
    font-size: 0.625rem;
  }

  .artigo h1 {
    font-size: 1.25rem;
  }

  .artigo h3 {
    font-size: 1.063rem;
  }
}

@media(min-width: 280px) and (max-width: 399px) {
  .divWallpaper2 {
    width: 100vw;
    height: auto;
    margin-top: 0;
  }

  #wpArtigo {
    width: 100vw;
    height: auto;
    border-radius: 0;
  }

  .divBotoes {
    width: 90vw;
    justify-content: center;
  }

  .btnOpcoes {
    width: 5rem;
    height: 3.125rem;
    font-size: 0.75rem;
    margin: 0 0.313rem;
  }

  .artigo {
    width: 90vw;
    height: auto;
  }

  .artigo h1 {
    font-size: 1.25rem;
  }

  .artigo h3 {
    font-size: 1.063rem;
  }
}
