@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

.divArtigos {
  width: 90rem;
  margin: 0 auto;
  margin-top: 3.125rem;
  height: 68.75rem;
}

.divArtigos h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 3.125rem;
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 3.125rem;
}

.layoutCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.card {
  width: 28.125rem;
  height: 25rem;
  margin-bottom: 1.875rem;
  border-radius: 0.625rem;
  position: relative;
}

.divVisivel {
  width: 28.125rem;
  height: 25rem;
  margin-bottom: 1.875rem;
  border-radius: 0.625rem;
}

.divVisivel img {
  width: 28.125rem;
  height: 25rem;
  border-radius: 0.625rem;
  transition: 0.5s;
}

.divOculta {
  width: 28.125rem;
  height: 25rem;
  border-radius: 0.625rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
}

.divOculta h3 {
  font-family: "Open Sans", sans-serif;
  width: 26.25rem;
  font-size: 1.25rem;
  color: #ffffff;
}

.btnHome {
  padding: 0.625rem;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.625rem;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.divVisivel:hover .divOculta {
  transform: scale(0.95);
  opacity: 1;
}

.divVisivel:hover img {
  transform: scale(0.95);
}

.divSobre {
  width: 100vw;
  height: 25rem;
  background-color: #000000;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.divSobre img {
  width: 12.5rem;
  margin-left: 3.125rem;
  transition: 0.5s;
}

.divSobre img:hover {
  transform: rotate(15deg);
}

.divSobre p {
  width: 31.25rem;
  text-align: justify;
  margin-right: 6.25rem;
}

@media(min-width: 1000px) and (max-width: 1499px) {
  .divArtigos {
    width: 62.5rem;
    height: auto;
  }

  .layoutCards {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 600px) and (max-width: 999px) {
  .divArtigos {
    width: 37.5rem;
    height: auto;
  }

  .layoutCards {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
  }

  .divSobre img {
    margin-left: 3.125rem;
    width: 6.25rem;
  }

  .divSobre p {
    margin-right: 3.125rem;
    max-width: 23.125rem;
    font-size: 0.875rem;
  }
}

@media(min-width: 500px) and (max-width: 599px) {
  .divArtigos {
    width: 3125rem;
    height: auto;
  }

  .layoutCards {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
  }

  .divSobre {
    display: flex;
    justify-content: center;
  }

  .divSobre img {
    display: none;
  }

  .divSobre p {
    max-width: 23.125rem;
    font-size: 1rem;
    margin-right: 0;
  }
}

@media(min-width: 359px) and (max-width: 499px) {
  .divArtigos {
    width: 20rem;
    height: auto;
  }

  .layoutCards {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
  }

  .card {
    width: 18.75rem;
  }

  .divVisivel {
    width: 18.75rem;
  }

  .divVisivel img {
    width: 18.75rem;
  }

  .divOculta {
    width: 18.75rem;
  }

  .divOculta h3 {
    width: 18.75rem;
    font-size: 1rem;
  }

  .divSobre {
    display: flex;
    justify-content: center;
  }

  .divSobre img {
    display: none;
  }

  .divSobre p {
    max-width: 20.625rem;
    font-size: 0.875rem;
    margin-right: 0;
  }
}

@media(min-width: 280px) and (max-width: 358px) {
  .divArtigos {
    width: 15rem;
    height: auto;
  }

  .layoutCards {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
  }

  .card {
    width: 15rem;
  }

  .divVisivel {
    width: 15rem;
  }

  .divVisivel img {
    width: 15rem;
  }

  .divOculta {
    width: 15rem;
  }

  .divOculta h3 {
    width: 15rem;
    font-size: 1rem;
  }

  .divSobre {
    display: flex;
    justify-content: center;
  }

  .divSobre img {
    display: none;
  }

  .divSobre p {
    max-width: 15rem;
    font-size: 0.875rem;
    margin-right: 0;
  }
}