* {
  margin: 0;
  padding: 0;
}

.container2 {
  margin: 12.5rem auto;
  width: 31.25rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  background-color: #f5f1f1;
  border-radius: 0.625rem;
  padding-bottom: 3.125rem;
}

.container2 h3 {
  text-align: center;
  margin: 1.875rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5625rem;
}

.container2 label {
  margin: 1.25rem 0 0.3125rem 1.375rem;
  font-family: "Open Sans", sans-serif;
}

.container2 input,
.container2 textarea {
  width: 26.875rem;
  margin: 0 auto;
  border-radius: 0.625rem;
  padding: 0.9375rem;
  border: 0.0625rem solid #ffffff;
  font-family: "Open Sans", sans-serif;
}

.btn {
  width: 28.75rem;
  align-self: center;
  margin-top: 1.875rem;
  padding: 1.25rem;
  border-radius: 0.625rem;
  border: none;
  background-color: #00095a;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
